
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/texture-dark-surface.jpg);
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 5px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 10px;
    border-color: rgb(241, 4, 4);
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 40px;
    text-align: center;
}

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 50px;
}

.address-link {
    color: red;
    text-shadow: 3px 3px 5px rgb(170, 1, 1), -3px -3px 5px rgb(1, 60, 255);
    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover {
    color: rgb(0, 0, 255);
    cursor: pointer;
}

.logo {
    color: red;
    text-shadow: 3px 3px 5px rgb(170, 1, 1), -3px -3px 5px rgb(1, 60, 255);
    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover {
    color: rgb(0, 0, 255);
    cursor: pointer;
}

.header-link {
    color: red;
    text-shadow: 3px 3px 5px rgb(170, 1, 1), -3px -3px 5px rgb(1, 60, 255);
}

.header-link:hover {
    color: rgb(0, 0, 255);
    cursor: pointer;
    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* MAIN */

.main-section {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    padding: 150px 0;
    border-radius: 10px;
}

.order-text {
    display: flex;
    font-size: 60px;
    max-width: 500px;
    text-align: center;
    color: black;
    margin-right: auto;
    margin-left: auto;
    text-shadow: 3px 3px 5px rgb(170, 1, 1), -3px -3px 5px rgb(1, 60, 255);
}

.order-button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    /* color: rgb(209, 67, 67); */
    color: black;
    box-shadow: 3px 3px 5px rgb(170, 1, 1), -3px -3px 5px rgb(1, 60, 255);
    text-shadow: 2px 2px 3px rgb(170, 1, 1), -2px -2px 3px rgb(1, 60, 255);
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover {
    background-color: rgb(20, 16, 16);
    cursor: pointer;
}

.order-button:focus {
    background-color: rgb(20, 16, 16);
    cursor: pointer;
}

/* SECTION 2 */

.section-visually-hidden {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.hidden-item {
    width: calc((100% - 72px)/4);
}

.name-advantages {
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 3px 3px 5px rgb(170, 1, 1), -3px -3px 5px rgb(1, 60, 255);
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: blueviolet;
    margin-bottom: 8px;
    text-shadow: 1px 1px 1px rgb(170, 1, 1), -1px 1px 1px rgb(1, 60, 255);
}

.hidden-p {
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 3px 3px 5px rgb(170, 1, 1), -3px -3px 5px rgb(1, 60, 255);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: blueviolet;
    text-shadow: 1px 1px 1px rgb(170, 1, 1), -1px 1px 1px rgb(1, 60, 255);
}

.hidden-list {
    list-style: none;
    display: flex;
    padding-left: 0; 
    margin: 0;
    gap: 24px;
}

.hidden-icons-li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid white;
    box-shadow: 3px 3px 5px rgb(170, 1, 1), -3px -3px 5px rgb(1, 60, 255);
    background: transparent;
    margin-bottom: 8px;
}

.hidden-icons-svg {
    stroke: #2E2F42;
}

/* ============== OVERLAY ============== */

.image-container {
    width: 360px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
    color: white;
    text-shadow: 1px 1px 1px rgb(170, 1, 1), -1px 1px 1px rgb(1, 60, 255);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.image-container:hover .overlay {
    opacity: 1;
}

/* ============== SECTION 3 ============== */

.section-portfolio {
    padding: 120px 0;
}

.portfolio-title {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 38px;
    text-shadow: 1px 1px 1px rgb(170, 1, 1), -1px 1px 1px rgb(1, 60, 255);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-img {
    border-radius: 5px;
    width: 360px;
    height: 300px;
    box-shadow: 3px 3px 5px rgb(170, 1, 1), -3px -3px 5px rgb(1, 60, 255);
}

.portfolio-name {
    color: white;
    text-shadow: 2px 1px 1px rgb(170, 1, 1), -2px 2px 1px rgb(1, 60, 255);
}

.portfolio-p {
    color: white;
    text-shadow: 2px 1px 1px rgb(170, 1, 1), -2px 2px 1px rgb(1, 60, 255);
}

/* ============== FOOTER ============== */

.footer {
    height: 312px;
    background-color: transparent;
    padding-left: 156px;
    display: flex;
    align-items: center;
}

.footer-p {
    width: 264px;
    color: white;
    text-shadow: 2px 1px 1px rgb(170, 1, 1), -2px 2px 1px rgb(1, 60, 255);
    margin: 0; /* Убраны высота и выравнивание */
}

.social-media {
    margin-left: 100px;
}

.social-media-text {
    color: red;
    text-shadow: 3px 3px 5px rgb(170, 1, 1), -3px -3px 5px rgb(1, 60, 255);
    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-list {
    display: flex;
    gap: 10px;
    padding-left: 0;
}

.social-media-icon {
    stroke: white;
    transition: stroke 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-icon:hover {
    stroke: red;
}

/* ============== BACKDROP ============== */

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 9999;
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* ============== MODAL WINDOW ============== */

.modal {
    width: 408px;
    height: 584px;
    border-radius: 5px;
    background: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/backdrop-bc-img.jpg);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
    box-shadow: 3px 3px 5px rgb(170, 1, 1), -3px -3px 5px rgb(1, 60, 255);
}

.backdrop-input-svg {
    height: 20px;
}

.modal-close-btn {
    display: flex;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 0;
    border: none;
    background-color: black;
    fill: #E7E9FC;
    stroke-width: 1px;
    stroke: white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: width 350ms cubic-bezier(0.4, 0, 0.2, 1), height 350ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 3px 3px 5px rgb(170, 1, 1), -3px -3px 5px rgb(1, 60, 255);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    width: 26px;
    height: 26px;
}

.modal-title-text {
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-shadow: 3px 3px 5px rgb(170, 1, 1), -3px -3px 5px rgb(1, 60, 255);
    margin-bottom: 16px;
}

.label-name {
    color: white;
    text-shadow: 2px 1px 1px rgb(170, 1, 1), -2px 2px 1px rgb(1, 60, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 8px;
}

.input-name {
    display: flex;
    width: 360px;
    height: 40px;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 5px rgb(170, 1, 1), -3px -3px 5px rgb(1, 60, 255);
    margin-top: 4px;
    margin-bottom: 8px;
    padding-left: 38px;
}

.div-input-svg {
    position: relative;
}

.backdrop-input-svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #4D5AE5;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-comment {
    min-width: 90%;
    height: 120px;
    margin-top: 4px;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 5px rgb(170, 1, 1), -3px -3px 5px rgb(1, 60, 255);
    resize: none;
}

.send-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 105px;
    height: 24px;
    padding: 16px 32px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    text-shadow: 1px 1px 1px rgb(170, 1, 1), -1px 1px 1px rgb(1, 60, 255);
    transition: width 400ms cubic-bezier(0.4, 0, 0.2, 1), height 400ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 3px 3px 5px rgb(170, 1, 1), -3px -3px 5px rgb(1, 60, 255);
}

.send-button:hover,
.send-button:focus {
    width: 110px;
    height: 40px;
}

